version: '3.8'

services:
  backend:
    build: .
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: mysql+pymysql://root:root@db:3306/taskdb
      JWT_SECRET_KEY: super-secret-key
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: taskdb
    ports:
      - "3306:3306"
